#############################################
# Linux files                               #
#############################################
*~
.directory

#############################################
# binary files                              #
#############################################
*.o
