#############################################
# Linux files                               #
#############################################
*~
.directory

#############################################
# binary files                              #
#############################################
*.o

#############################################
# Test and tools folders                    #
#############################################
test/
tools/



