
body {
  font: 82.5%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
  color:#666;
  margin:0;
}

* {
  margin:0;
  padding:0;
}

header{
  border-top:20px solid #BCE77C;
  margin:0 auto;
  padding:25px;
}

header a{
  color:#333;
  text-decoration:none;
}

header h1{
  font-family:"Times New Roman", Times, serif;
  font-size:2em;
  line-height:32px;
  font-weight:normal;
  background:url(../fig/logo_32x32.png) left no-repeat;
  height:32px;
  padding-left:40px;
}

main {
  margin:0 auto;
  padding:25px;
}

nav {
  float:right;
  width: 250px;
  overflow: hidden;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
  padding:10px;
  margin: 0 0 10px 10px;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6{
  color:#333;
}

nav h1,
nav h2{
  border-bottom:1px solid #f6f6f6;
  padding:5px 0;
}

nav h1{
  font-family:"Times New Roman", Times, serif;
  letter-spacing:1px;
  font-size:1.8em;
  font-weight:normal;
}

nav h2,
nav h3{
  font-family:"Lucida Sans Unicode", verdana, geneva, sans-serif;
  letter-spacing:1px;
  font-weight:normal;
}

nav h2{
  font-size:1.2em;
}

nav h3{
  font-size:1.0em;
}

nav h4{
  font-size:0.85em;
}

nav h5{
  font-size:0.7em;
}

nav h6{
  font-size:0.7em;
  font-weight:bold;
}

nav ul {
  list-style:none;
  margin:5px 0;
}

nav li a {
  color:#797;
  text-decoration:none;
  display:block;
}

nav li.activepage a{
  border-left: 4px solid #BCE77C;
  padding-left: 5px;
}

nav li a:visited {
  color:#9B9;
}

nav li a:hover {
  background-color:#eee;
  color:#353;
}

nav li a:active {
  color:#000;
}

article {
  float: left;
  width: calc( 100% - 280px - 22px );  /* 270px = nav.width + nav.padding + nav.margin */
  overflow: hidden;
  border-left:1px solid #eee;
/*   border-right:1px solid #eee; */
  padding:10px;
}

article h1,
article h2,
article h3,
article h4{
  font-family:"Lucida Sans Unicode", verdana, geneva, sans-serif;
  line-height: 1.0em;
  font-weight:normal;
}

article h1{
  font-size:2.4em;
  color:#444;
  padding:20px 0;
}

article h2,
article h3,
article h4{
  padding:12px 0;
}

article h2 {
  font-size:1.6em;
}

article h3 {
  font-size:1.4em;
}

article h4 {
  font-size:1.1em;
}

article p{
  padding:5px 0;
  word-spacing:2px;
}

article a{
  color:#797;
  text-decoration:none;
  border-bottom:1px solid #ddd;
}

article a:visited {
  color:#9B9;
}

article a:hover {
  color:#353;
}

article a:active {
  color:#000;
}

article ul {
 padding-left:0;
 list-style-position:inside
}

article section{
  border-top:1px solid #EEE;
  padding:5px 0;
}

article .subsection{
  border-top:0px solid;
}

article .subsubsection{
  border-top:0px solid;
}

article figure{
  padding:5px 0;
}

article img{
max-width: 100%;
}

article table{
  width: 100%;
  border-collapse: separate;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

article td{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 3px;
}

.signatures ul
{
  list-style-type:decimal;
  font-family: monospace;
}

.example,
.output
{
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  overflow-x: auto;
}

.tagblock dd p{
  margin: 0;
}

.tagblock dt{
  font-weight: bold;
}

.note{
  background-color: #EFF9E1;
}

.note h4{
  background-color: #bce77c;
}

.remark{
  background-color: #fffff5;
}

.remark h4{
  background-color: #ffffcc;
}

span.code {
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

footer {
  clear: both;
  padding:20px;
  text-align:center;
  border-top:1px solid #eee;
  margin:0;
  color:#999;
}

footer a{
  color:#797;
  text-decoration:none;
}

#escridoIcon{
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.description {
  color:#222;
}
