#############################################
# Linux files                               #
#############################################
*~
.directory

#############################################
# Generic doxygen folders                   #
#############################################
html/
latex/